body {
  font-family: serif !important;

}

.csl-entry {
  padding-top: 15px 0;
  padding-left: 1.5em;
  text-indent:-1.5em;
}



.one-entry{ padding: 10px 0 10px 0;}

.note{
  padding-top: 10px 0 ;
  padding-left: 1.5em;}
